<div>
  <h1><%= @tplay.new_record? ? "Create" : "Edit ##{params[:id]}" %></h1>
</div>

<div class="body">
  <%= form_for @tplay,
               url: (@tplay.new_record? ? back_tplays_path : back_tplay_path(@tplay)),
               method: (@tplay.new_record? ? 'post' : 'put'),
               html: { class: 'form-horizontal' } do |f| %>

      <% unless @tplay.errors.blank? %>
          <div class="alert alert-danger">
            <ul class="list-unstyled">
              <% @tplay.errors.messages.values.flatten.each do |error| %>
                  <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
              <% end -%>
            </ul>
          </div>
      <% end -%>


      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-5">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="category_id" class="col-sm-2 control-label">Belongs to:</label>
        <div class="col-sm-5">
          <select name="tplay[category_id]">
            <option></option>
            <% @top_categories.each do |c| %>
                <optgroup label="<%= c.name %>"></optgroup>

                <% c.children.each do |c1| %>
                    <option value="<%= c1.id %>" <%= @tplay.category_id == c1.id ? 'selected'
                                                     : '' %>><%= c1.name %></option>
                <% end -%>
            <% end -%>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="status" class="col-sm-2 control-label">Status:</label>
        <div class="col-sm-5">
          <%= f.text_field :status, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="ticket" class="col-sm-2 control-label">Remain:</label>
        <div class="col-sm-5">
          <%= f.text_field :ticket, class: "form-control" %> Must be integer
        </div>
      </div>
      <div class="form-group">
        <label for="bprice" class="col-sm-2 control-label">Original price:</label>
        <div class="col-sm-5">
          <%= f.text_field :bprice, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Price:</label>
        <div class="col-sm-5">
          <%= f.text_field :price, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="author" class="col-sm-2 control-label">Author:</label>
        <div class="col-sm-5">
          <%= f.text_field :author, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description:</label>
        <div class="col-sm-5">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>

      <div class="field">
        <label for="sellingstatus" class="col-sm-2 control-label">Selling status</label>
        <%= check_box_tag 'tplay[selling]', 'Hot!!!' %>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <%= f.submit (@tplay.new_record? ? "Create" : "Edit"), class: "btn btn-default" %>
        </div>
      </div>
  <% end -%>
</div>
