<div class="row">
  <% @tplays.each do |t| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(t.main_image.image.url(:sub),
                                alt: t.name), tplay_path(t) %>
          <div class="caption">
            <h4><%= link_to t.name, tplay_path(t), class: 'name' %></h4>
            <% if t.selling!="normal"%>
                <div class="hot"><strong>HOT！！！</strong> </div>
                <% end %>
            <p><strong>€<%= t.price %></strong> by <span class="bprice">€<%= t.bprice %></span></p>

            <p><a href="#" class="btn btn-danger btn-sm" role="button">View more</a></p>
          </div>
        </div>
      </div>
  <% end -%>
</div>

<%= will_paginate @tplays%>