<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
<link href="path/to/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="path/to/js/star-rating.min.js" type="text/javascript"></script>

<div class="row">
  <div class="col-lg-3">
    <%= render 'home/pub/categories' %>
  </div>
  <div class="col-lg-9">
    <ol class="breadcrumb">
      <li><a href="<%= root_path %>">Home</a></li>
      <li class="active"><%= @tplay.category.parent.name %></li>
      <li><a href="<%= category_path @tplay.category %>"><%= @tplay.category.name %></a></li>
      <li class="active"><%= @tplay.name %></li>
    </ol>
    <h1><%= @tplay.name %></h1>
    <div class="row">
      <% @tplay.tplay_images.each do |t| %>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail detail">
              <%= image_tag t.image.url(:sub) %>
            </a>
          </div>
      <% end -%>
    </div>

    <ul class="list-unstyled">
      <li>Remain: <%= @tplay.ticket %></li>
    </ul>
    <h3>€¥<%= @tplay.price %> <span class="bprice">€<%= @tplay.bprice %></span></h3>
    <p><%= link_to "Add it", "#", class: "btn btn-danger" %></p>
    <br />
    <br />
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="javascript:;"><strong>Description</strong></a></li>
    </ul>
    <br />
    <% if @tplay.selling!="normal"%>
        <div class="hot"><strong>This play is really HOT recently</strong> </div>
    <% end %>
    <div>
      <%= @tplay.description.html_safe %>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="body">
          <h1>Reviews</h1>
          <%= render @tplay.reviews %>
          <% if User.find_by(id: session[:user_id]).nil? %>
              <%= link_to "Log in to add your own review now!",new_session_path,
                          class: "btn-custom"
              %>
          <% else %>
          <div>
            <%= link_to "Add your Reviews", new_tplay_review_path(@tplay),
            class: "btn-custom"
            %>
          </div>
          <% end -%>
        </div>
      </div>
    </div>



  </div>
</div>