<!DOCTYPE html>
<html>
<head>
  <title>RN Background Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'back', media: 'all' %>
  <%= yield :stylesheets %>
</head>

<body>
<%= render 'back/layouts/menu' %>
<div class="container">
  <% unless flash[:notice].blank? %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end -%>

  <%= yield %>
</div>

<%= javascript_include_tag 'back' %>
<%= yield :javascripts %>
</body>
</html>
